@model Bookshop_Website.Models.Books

@{
    ViewData["Title"] = Model.Title;
}


<div class="container pb-3">

    <div class="row">
        @* Book image *@
        <div class="col-4" style="background-color:white">
            <div class="row justify-content-center">
            <img src="@Model.ImageUrl" alt="@Model.Title" id="image"/>
            </div>
            <div class="row">
                <div class="col">
                    <form asp-action="AddtoCart" asp-route-id="@Model?.BookId" method="post" style="display:inline;">
                        <button type="submit" class="btn interactBtn w-100 fw-bold" style="color:white; background-color:var(--main-color)">
                            Buy
                        </button>
                    </form>
                </div>
                <div class="col">
                    <form asp-action="AddtoCart" asp-route-id="@Model?.BookId" method="post" style="display:inline;">
                        <button type="submit" onclick="addToCart(@Model?.BookId)" class="btn interactBtn w-100 fw-bold" style="color:var(--main-color);border-width:2px;border-color:var(--main-color)">
                            <i class="fa-solid fa-cart-shopping"></i> Add to Cart
                        </button>
                    </form>
                </div>
            </div>
            @if (User.IsInRole("Admin"))
            {
                <div class="row">
                    <div class="col w-100">
                        <form style="display:inline;">
                            <button class="btn btn-outline-info interactBtn w-100 fw-bold" asp-action="Edit" asp-route-id="@Model?.BookId" type="submit">
                                Edit
                            </button>
                        </form>
                    </div>
                    <div class="col">
                        <form  method="post" style="display:inline;">
                            <button class="btn btn-outline-warning interactBtn w-100 fw-bold" asp-action="Delete" asp-route-id="@Model?.BookId" type="submit">
                                <i class="fa-solid fa-trash"></i> Delete
                            </button>
                        </form>
                    </div>
                </div>
            }

        </div>
        <div class="col overflow-auto" style="height:45rem">
            @* Book title and price *@
            <div class="col infoCol bg-white">
                <h1 style="font-weight:bold">@Html.DisplayFor(Model => Model.Title)</h1>
                <h1 style="color:var(--main-color);font-weight:bold">@Model?.Price.ToString("C")</h1>
                <h3>@Html.DisplayFor(Model => Model.Author)</h3>
                <div id="rating-container">
                    <span class="star">&#9733;</span>
                    <span class="star">&#9733;</span>
                    <span class="star">&#9733;</span>
                    <span class="star">&#9733;</span>
                    <span class="star">&#9733;</span>
                </div>
            </div>

            @* Detail info *@
            <div class="col infoCol mb-0 bg-white">
                <h3 class="fw-semibold border-bottom pb-2" id="sectionHeader">Detail information</h3>
                <div class="row">
                    <div class="col">
                        <p id="infoText">@Html.DisplayNameFor(Model => Model.Author)</p>
                    </div>
                    <div class="col">
                        @Html.DisplayFor(Model => Model.Author)

                    </div>
                </div>
                <div class="row"> 
                    <div class="col">
                        <p id="infoText">@Html.DisplayNameFor(Model => Model.Publisher)</p>
                    </div>
                    <div class="col">
                        @Html.DisplayFor(Model => Model.Publisher)
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p id="infoText">@Html.DisplayNameFor(Model => Model.Genre)</p>
                    </div>
                    <div class="col">
                        @Html.DisplayFor(Model => Model.Genre)
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p id="infoText">@Html.DisplayNameFor(Model => Model.Language)</p>
                    </div>
                    <div class="col">
                        @Html.DisplayFor(Model => Model.Language)

                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p id="infoText">@Html.DisplayNameFor(Model => Model.PublicationDate)</p>
                    </div>
                    <div class="col">
                        @Html.DisplayFor(Model => Model.PublicationDate)

                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p id="infoText">@Html.DisplayNameFor(Model => Model.NumberOfPages)</p>
                    </div>
                    <div class="col">
                        @Html.DisplayFor(Model => Model.NumberOfPages)

                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p id="infoText">@Html.DisplayNameFor(Model => Model.AverageRating)</p>
                    </div>
                    <div class="col">
                        @Html.DisplayFor(Model => Model.AverageRating)

                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p id="infoText">@Html.DisplayNameFor(Model => Model.NumberSold)</p>
                    </div>
                    <div class="col">
                        @Html.DisplayFor(Model => Model.NumberSold)

                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p id="infoText">@Html.DisplayNameFor(Model => Model.StockQuantity)</p>
                    </div>
                    <div class="col">
                        @Html.DisplayFor(Model => Model.StockQuantity)

                    </div>
                </div>
            </div>


            @* description *@
            <div class="col" style="background-color:white" id="infoCol">
                <h3 class="fw-semibold border-bottom pb-2" id="sectionHeader">Description</h3>
                <p>@Html.DisplayFor(Model => Model.Description)</p>
            </div>

        </div>
        @* Comment *@
        <h1 class="fw-bold border-bottom pb-2">Comment</h1>
</div>
</div>



<script>
    // Rating
    function displayRating(rating) {
        const stars = document.querySelectorAll('.star');

        stars.forEach((star, index) => {
            if (index < rating) {
                star.classList.add('filled');
            } else {
                star.classList.remove('filled');
            }
        });
    }

    // Example average rating
    const averageRating = 3.5;
    displayRating(averageRating);

    function addToCart(bookId) {
        fetch('/Books/AddToCart?id=' + bookId, { method: 'POST' })
            .then(() => updateCartCount()); // Cập nhật số lượng giỏ hàng ngay
    }

</script>

<Style>
    #image{
        height: 25rem;
        width: 18rem;
        margin-top: 2rem
   }

    .infoCol {
        padding-inline-start: 1.3rem;
        padding-top: 0.6rem;
        padding-bottom: 0.8rem;
        margin-bottom: 0.8rem;
        padding-inline-end: 0.4rem

    }
    #infoText{
        color: #777777;
        
    }
    #sectionHeader{
        margin-bottom: 1rem
    }
    .interactBtn{
        margin-top: 2rem;
    }
    
    .star {
        font-size: 30px;
        color: lightgray;
        cursor: pointer;
    }

    .filled {
        color: gold;
    }


</Style>