@model Bookshop_Website.Models.Books

@{
    ViewData["Title"] = "Details";
}


<div class="container pb-3">

    <div class="row">
        @* Book image *@
        <div class="col-4" style="background-color:white">
            <div class="row justify-content-center">
            <img src="@Model.ImageUrl" alt="@Model.Title" id="image"/>
            </div>
            <div class="row">
                <div class="col">
                   @*  ------------------------> need improve  *@
                    <form asp-action="AddtoCart" asp-route-id="@Model?.BookId" method="post" style="display:inline;">
                        <button type="submit" class="btn interactBtn w-100 fw-bold" style="color:white; background-color:red">
                            Buy
                        </button>
                    </form>
                </div>
                <div class="col">
                    <form asp-action="AddtoCart" asp-route-id="@Model?.BookId" method="post" style="display:inline;">
                        <button type="submit" class="btn interactBtn w-100 fw-bold" style="color:red;border-width:2px;border-color:red">
                            <i class="fa-solid fa-cart-shopping"></i> Add to Cart
                        </button>
                    </form>
                </div>
            </div>
            @if (User.IsInRole("Admin"))
            {
                <div class="row">
                    <div class="col w-100">
                        <form style="display:inline;">
                            <button class="btn btn-outline-info interactBtn w-100 fw-bold" asp-action="Edit" asp-route-id="@Model?.BookId" type="submit">
                                Edit
                            </button>
                        </form>
                    </div>
                    <div class="col">
                        <form  method="post" style="display:inline;">
                            <button class="btn btn-outline-warning interactBtn w-100 fw-bold" asp-action="Delete" asp-route-id="@Model?.BookId" type="submit">
                                Delete
                            </button>
                        </form>
                    </div>
                </div>
            }

        </div>
        <div class="col overflow-auto" style="height:45rem">
            @* Book title and price *@
            <div class="col" style="background-color:white" id="infoCol">
                <h1 style="font-weight:bold">@Html.DisplayFor(Model => Model.Title)</h1>
                <h1 style="color:red;font-weight:bold">@Model.Price.ToString("C")</h1>
                <h3>@Html.DisplayFor(Model => Model.Author)</h3>
            </div>

            @* detail info *@
            <div class="col" style="background-color:white" id="infoCol">
                <h3 class="fw-bold" id="sectionHeader">Detail information</h3>
                <div class="row">
                    <div class="col">
                        <p id="infoText">@Html.DisplayNameFor(Model => Model.Author)</p>
                    </div>
                    <div class="col">
                        @Html.DisplayFor(Model => Model.Author)

                    </div>
                </div>
                <div class="row"> 
                    <div class="col">
                        <p id="infoText">@Html.DisplayNameFor(Model => Model.Publisher)</p>
                    </div>
                    <div class="col">
                        @Html.DisplayFor(Model => Model.Publisher)
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p id="infoText">@Html.DisplayNameFor(Model => Model.Genre)</p>
                    </div>
                    <div class="col">
                        @Html.DisplayFor(Model => Model.Genre)
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p id="infoText">@Html.DisplayNameFor(Model => Model.Language)</p>
                    </div>
                    <div class="col">
                        @Html.DisplayFor(Model => Model.Language)

                    </div>
                </div>
            </div>


            @* description *@
            <div class="col" style="background-color:white" id="infoCol">
                <h3 id="sectionHeader">Description</h3>
                <p>@Html.DisplayFor(Model => Model.Description)</p>
            </div>

        </div>
</div>
</div>















@* Comment *@
<div>
</div>

<Style>
    #image{
        height: 25rem;
        width: 18rem;
        margin-top: 2rem
   }

    #infoCol {
        padding-inline-start: 1.3rem;
        padding-top: 0.6rem;
        padding-bottom: 0.8rem;
        margin-bottom: 0.8rem;
        padding-inline-end: 0.4rem

    }
    #infoText{
        color: #777777;
        
    }
    #sectionHeader{
        margin-bottom: 1rem
    }
    .interactBtn{
        margin-top: 2rem;
    }

</Style>