@model IEnumerable<Bookshop_Website.Models.Books>


<div class="container" style="background-color:white">
    @await Html.PartialAsync("~/Views/Shared/Components/AdvancedSearch.cshtml", new Bookshop_Website.Models.AdvancedSearchModel { Languages = new List<string> { "English", "Japanese", "French" } })

    @if (Model.Any())
    {
        <h2 class="pt-3 px-2"><i class="fa-solid fa-magnifying-glass"></i> @Model.Count() Result</h2>
        <div class="container d-flex bg-white flex-row justify-content-start" id="cardContainer">
            @foreach (var item in Model)
            {
                <div class="card border-0 pt-3" id="bookCard">
                    <a asp-action="Details" asp-route-id="@item.BookId">
                        <img class="rounded float-start" src="@item.ImageUrl" alt="Image for @item.Title" style="width: 150px; height: 220px;" />
                    </a>
                    <div class="card-body w-100 pb-0">
                        @Html.ActionLink(item.Title, "Details", new { id = item.BookId }, new { @class = "custom-card-title px-3 text-decoration-none text-black", title = item.Title })
                    </div>
                    <div class="row w-100 px-3 d-flex justify-content-center align-items-center m-0">
                        <h5 class="col price m-0 fw-bold">@item.Price.ToString("C")</h5>
                        @if (item.DiscountPercentage > 0)
                        {
                            <div class="col align-items-center percentage-container text-center">
                                <h5 class="col discount-percentage m-0 text-white">@item.DiscountPercentage.ToString("0")%</h5>
                            </div>
                        }
                    </div>
                    <div class="row w-100 px-3">
                        @if (item.DiscountPercentage > 0)
                        {
                            <h5 class="col original-price m-0">@item.OriginalPrice.ToString("C")</h5>
                        }
                    </div>
                </div>
            }
        </div>
    }
    else
    {
        <h4 class="pt-3 px-2">No Result</h4>
    }
</div>


<style>
    #cardContainer {
        padding-inline: 10px;
        flex-wrap: wrap;
        min-height:31rem;
    }



    #bookCard {
        width: 14rem;
        height: 21rem;
        margin-top: 1rem;
        margin-inline: 0.94rem;
        align-items: center;
    }

        #bookCard:hover {
            box-shadow: 0 0 10px rgba(0,0,0,0.3);
        }


    #textAuthor {
        font-size: 0.8rem
    }

    .custom-card-title {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 100%;
        font-size: 15px;
        color: black;
    }


        .custom-card-title:hover {
            color: cornflowerblue;
            text-decoration: none;
        }


    .price {
        color: red;
        font-size: 19px;
    }

    .original-price {
        color: grey;
        text-decoration: line-through;
        font-size: 16px;
    }

    .discount-percentage {
        background-color: red;
        font-size: 14px;
        border-radius: 7px;
        width: 35px;
    }

    .card-body {
        height: 500px;
    }

</style>
